In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer

In [2]:
listings = pd.read_csv('../data/london_listings.csv')

In [3]:
#listings.info()

In [4]:
df_clean = listings[['id', 'price', 'host_is_superhost', 'latitude', 'longitude', 'neighbourhood_cleansed', 'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'instant_bookable', 'host_has_profile_pic', 'host_identity_verified', 'number_of_reviews']]

In [5]:
#df_clean

In [6]:
df_clean = df_clean[df_clean['price'] != 0.0]

In [7]:
#reset index to listing id
df_clean = df_clean.set_index('id')
#df_clean

In [8]:
df_clean[df_clean['price'] == 0.0]

Empty DataFrame
Columns: [price, host_is_superhost, latitude, longitude, neighbourhood_cleansed, room_type, accommodates, bathrooms_text, bedrooms, beds, amenities, instant_bookable, host_has_profile_pic, host_identity_verified, number_of_reviews]
Index: []

In [9]:
#make price a float
df_clean['price'] = df_clean['price'].str.replace(',', '')
df_clean['price'] = df_clean['price'].str.replace('$', '')
df_clean['price'] = df_clean['price'].astype(float)
df_clean

,price,host_is_superhost,latitude,longitude,neighbourhood_cleansed,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,instant_bookable,host_has_profile_pic,host_identity_verified,number_of_reviews
id,,,,,,,,,,,,,,,
11551,97.0,f,51.46225,-0.11732,Lambeth,Entire home/apt,4,1 bath,1.0,3.0,"[""Cable TV"", ""Coffee maker"", ""Carbon monoxide ...",t,t,t,192
13913,40.0,f,51.56802,-0.11121,Islington,Private room,2,1 shared bath,1.0,0.0,"[""Cable TV"", ""Bed linens"", ""Coffee maker"", ""Pa...",f,t,t,21
15400,75.0,f,51.48796,-0.16898,Kensington and Chelsea,Entire home/apt,2,1 bath,1.0,1.0,"[""Cable TV"", ""Coffee maker"", ""Dryer"", ""Dishes ...",t,t,t,89
17402,307.0,t,51.52195,-0.14094,Westminster,Entire home/apt,6,2 baths,3.0,3.0,"[""Bed linens"", ""Coffee maker"", ""Dryer"", ""Paid ...",f,t,t,42
17506,150.0,f,51.47935,-0.19743,Hammersmith and Fulham,Private room,2,1 private bath,1.0,1.0,"[""TV"", ""Heating"", ""Shower gel"", ""Wifi"", ""Smoke...",f,t,t,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46259322,90.0,t,51.51343,-0.13286,Westminster,Entire home/apt,2,1 bath,1.0,1.0,"[""TV"", ""Fire extinguisher"", ""Heating"", ""Dryer""...",f,t,t,0
46259459,87.0,f,51.50755,-0.15069,Westminster,Private room,2,2 shared baths,1.0,2.0,"[""Dryer"", ""Private entrance"", ""First aid kit"",...",t,t,f,0
46259503,26.0,f,51.54920,0.07109,Redbridge,Private room,2,1.5 shared baths,1.0,1.0,"[""Fire extinguisher"", ""Body soap"", ""Heating"", ...",t,t,t,0
46259530,59.0,f,51.49081,-0.20835,Hammersmith and Fulham,Private room,2,1 private bath,1.0,NaN,"[""Fire extinguisher"", ""Heating"", ""Wifi"", ""Kitc...",f,t,t,0
46261520,44.0,f,51.58022,-0.13328,Haringey,Private room,1,NaN,1.0,1.0,"[""Heating"", ""Wifi"", ""Kitchen"", ""Washer"", ""Esse...",t,t,t,0

In [10]:
df_clean['price'].describe()

count    76984.000000
mean       112.107932
std        325.929453
min          0.000000
25%         43.000000
50%         75.000000
75%        121.000000
max      18673.000000
Name: price, dtype: float64

In [11]:
#make host_is_superhost a integer and make any nulls equal to zero(non-superhost)
df_clean['host_is_superhost'] = (df_clean['host_is_superhost'] == 't').astype(int)
df_clean['host_is_superhost'] = df_clean['host_is_superhost'].fillna(0)
df_clean[['host_is_superhost']]

          host_is_superhost
id
11551                     0
13913                     0
15400                     0
17402                     1
17506                     0
...                     ...
46259322                  1
46259459                  0
46259503                  0
46259530                  0
46261520                  0

[76984 rows x 1 columns]

In [12]:
#make neighborhoods into dummy variables
df_clean = pd.get_dummies(df_clean, columns=['neighbourhood_cleansed'])
df_clean.head()

,price,host_is_superhost,latitude,longitude,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,...,neighbourhood_cleansed_Merton,neighbourhood_cleansed_Newham,neighbourhood_cleansed_Redbridge,neighbourhood_cleansed_Richmond upon Thames,neighbourhood_cleansed_Southwark,neighbourhood_cleansed_Sutton,neighbourhood_cleansed_Tower Hamlets,neighbourhood_cleansed_Waltham Forest,neighbourhood_cleansed_Wandsworth,neighbourhood_cleansed_Westminster
id,,,,,,,,,,,,,,,,,,,,,
11551,97.0,0,51.46225,-0.11732,Entire home/apt,4,1 bath,1.0,3.0,"[""Cable TV"", ""Coffee maker"", ""Carbon monoxide ...",...,0,0,0,0,0,0,0,0,0,0
13913,40.0,0,51.56802,-0.11121,Private room,2,1 shared bath,1.0,0.0,"[""Cable TV"", ""Bed linens"", ""Coffee maker"", ""Pa...",...,0,0,0,0,0,0,0,0,0,0
15400,75.0,0,51.48796,-0.16898,Entire home/apt,2,1 bath,1.0,1.0,"[""Cable TV"", ""Coffee maker"", ""Dryer"", ""Dishes ...",...,0,0,0,0,0,0,0,0,0,0
17402,307.0,1,51.52195,-0.14094,Entire home/apt,6,2 baths,3.0,3.0,"[""Bed linens"", ""Coffee maker"", ""Dryer"", ""Paid ...",...,0,0,0,0,0,0,0,0,0,1
17506,150.0,0,51.47935,-0.19743,Private room,2,1 private bath,1.0,1.0,"[""TV"", ""Heating"", ""Shower gel"", ""Wifi"", ""Smoke...",...,0,0,0,0,0,0,0,0,0,0

In [13]:
#make room_type into dummy variables
df_clean = pd.get_dummies(df_clean, columns=['room_type'])
df_clean.head()

,price,host_is_superhost,latitude,longitude,accommodates,bathrooms_text,bedrooms,beds,amenities,instant_bookable,...,neighbourhood_cleansed_Southwark,neighbourhood_cleansed_Sutton,neighbourhood_cleansed_Tower Hamlets,neighbourhood_cleansed_Waltham Forest,neighbourhood_cleansed_Wandsworth,neighbourhood_cleansed_Westminster,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
id,,,,,,,,,,,,,,,,,,,,,
11551,97.0,0,51.46225,-0.11732,4,1 bath,1.0,3.0,"[""Cable TV"", ""Coffee maker"", ""Carbon monoxide ...",t,...,0,0,0,0,0,0,1,0,0,0
13913,40.0,0,51.56802,-0.11121,2,1 shared bath,1.0,0.0,"[""Cable TV"", ""Bed linens"", ""Coffee maker"", ""Pa...",f,...,0,0,0,0,0,0,0,0,1,0
15400,75.0,0,51.48796,-0.16898,2,1 bath,1.0,1.0,"[""Cable TV"", ""Coffee maker"", ""Dryer"", ""Dishes ...",t,...,0,0,0,0,0,0,1,0,0,0
17402,307.0,1,51.52195,-0.14094,6,2 baths,3.0,3.0,"[""Bed linens"", ""Coffee maker"", ""Dryer"", ""Paid ...",f,...,0,0,0,0,0,1,1,0,0,0
17506,150.0,0,51.47935,-0.19743,2,1 private bath,1.0,1.0,"[""TV"", ""Heating"", ""Shower gel"", ""Wifi"", ""Smoke...",f,...,0,0,0,0,0,0,0,0,1,0

In [14]:
#remove null values from bathrooms_text column and change from categorical to numerical
df_clean['bathrooms_text'].nunique()
df_clean['bathrooms_text'].unique()
df_clean['bathrooms_text'].isnull().sum()
df_clean[df_clean['bathrooms_text'].isnull()]
df_clean['bathrooms_text'].fillna(2, inplace=True)
clean_bathrooms_text = {"1 bath": 1,
                        "1 shared bath": 1,
                        "2 baths": 2,
                        "1 private bath": 1,
                        "1.5 shared baths": 1.5,
                        "1.5 baths": 1.5,
                        "0 shared baths": 0,
                        "2.5 shared baths": 2.5,
                        "Shared half-bath": 0.5,
                        "4 baths": 4,
                        "3 baths": 3,
                        "0 baths": 0,
                        "3 shared baths": 3,
                        "3.5 baths": 3.5,
                        "Half-bath": 0.5,
                        "5 baths": 5,
                        "4.5 baths": 4.5,
                        "5 shared baths": 5,
                        "3.5 shared baths": 3.5,
                        "Private half-bath": 0.5,
                        "7 baths": 7,
                        "4 shared baths": 4,
                        "6 baths": 6,
                        "6 shared baths": 6,
                        "5.5 baths": 5.5,
                        "10 baths": 10,
                        "8.5 baths": 8.5,
                        "7 shared baths": 7,
                        "4.5 shared baths": 4.5,
                        "6.5 baths": 6.5,
                        "8 shared baths": 8,
                        "17 baths": 17,
                        "11 baths": 11,
                        "7.5 baths": 7.5,
                        "8 baths": 8,
                        "10.5 baths": 10.5,
                        "9 baths": 9,
                        "12 baths": 12,
                        "9 shared baths": 9,
                        "35 baths": 35,
                        "2 shared baths": 2,
                        "2.5 baths": 2.5}
df_clean['bathrooms_text'] = df_clean['bathrooms_text'].replace(clean_bathrooms_text)
df_clean[['bathrooms_text']]

          bathrooms_text
id
11551                1.0
13913                1.0
15400                1.0
17402                2.0
17506                1.0
...                  ...
46259322             1.0
46259459             2.0
46259503             1.5
46259530             1.0
46261520             2.0

[76984 rows x 1 columns]

In [15]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76984 entries, 11551 to 46261520
Data columns (total 50 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   price                                          76984 non-null  float64
 1   host_is_superhost                              76984 non-null  int64
 2   latitude                                       76984 non-null  float64
 3   longitude                                      76984 non-null  float64
 4   accommodates                                   76984 non-null  int64
 5   bathrooms_text                                 76984 non-null  float64
 6   bedrooms                                       72238 non-null  float64
 7   beds                                           75904 non-null  float64
 8   amenities                                      76984 non-null  object
 9   instant_bookable                               76984 non-null  object
 10  host_has_profile_pic                           76973 non-null  object
 11  host_identity_verified                         76973 non-null  object
 12  number_of_reviews                              76984 non-null  int64
 13  neighbourhood_cleansed_Barking and Dagenham    76984 non-null  uint8
 14  neighbourhood_cleansed_Barnet                  76984 non-null  uint8
 15  neighbourhood_cleansed_Bexley                  76984 non-null  uint8
 16  neighbourhood_cleansed_Brent                   76984 non-null  uint8
 17  neighbourhood_cleansed_Bromley                 76984 non-null  uint8
 18  neighbourhood_cleansed_Camden                  76984 non-null  uint8
 19  neighbourhood_cleansed_City of London          76984 non-null  uint8
 20  neighbourhood_cleansed_Croydon                 76984 non-null  uint8
 21  neighbourhood_cleansed_Ealing                  76984 non-null  uint8
 22  neighbourhood_cleansed_Enfield                 76984 non-null  uint8
 23  neighbourhood_cleansed_Greenwich               76984 non-null  uint8
 24  neighbourhood_cleansed_Hackney                 76984 non-null  uint8
 25  neighbourhood_cleansed_Hammersmith and Fulham  76984 non-null  uint8
 26  neighbourhood_cleansed_Haringey                76984 non-null  uint8
 27  neighbourhood_cleansed_Harrow                  76984 non-null  uint8
 28  neighbourhood_cleansed_Havering                76984 non-null  uint8
 29  neighbourhood_cleansed_Hillingdon              76984 non-null  uint8
 30  neighbourhood_cleansed_Hounslow                76984 non-null  uint8
 31  neighbourhood_cleansed_Islington               76984 non-null  uint8
 32  neighbourhood_cleansed_Kensington and Chelsea  76984 non-null  uint8
 33  neighbourhood_cleansed_Kingston upon Thames    76984 non-null  uint8
 34  neighbourhood_cleansed_Lambeth                 76984 non-null  uint8
 35  neighbourhood_cleansed_Lewisham                76984 non-null  uint8
 36  neighbourhood_cleansed_Merton                  76984 non-null  uint8
 37  neighbourhood_cleansed_Newham                  76984 non-null  uint8
 38  neighbourhood_cleansed_Redbridge               76984 non-null  uint8
 39  neighbourhood_cleansed_Richmond upon Thames    76984 non-null  uint8
 40  neighbourhood_cleansed_Southwark               76984 non-null  uint8
 41  neighbourhood_cleansed_Sutton                  76984 non-null  uint8
 42  neighbourhood_cleansed_Tower Hamlets           76984 non-null  uint8
 43  neighbourhood_cleansed_Waltham Forest          76984 non-null  uint8
 44  neighbourhood_cleansed_Wandsworth              76984 non-null  uint8
 45  neighbourhood_cleansed_Westminster             76984 non-null  uint8
 46  room_type_Entire home/apt                      76984 non-null  uint8
 47  room_type_Hotel room                           76984 non-null  uint8
 48  room_type_Private room                         76984 non-null  uint8
 49  room_type_Shared room                          76984 non-null  uint8
dtypes: float64(6), int64(3), object(4), uint8(37)
memory usage: 10.9+ MB

In [16]:
df_clean.dropna(subset=['bedrooms','beds'], how='all', inplace=True) #drop columns where bedrooms and beds both are null
#df_clean['bedrooms'].unique()
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76882 entries, 11551 to 46261520
Data columns (total 50 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   price                                          76882 non-null  float64
 1   host_is_superhost                              76882 non-null  int64
 2   latitude                                       76882 non-null  float64
 3   longitude                                      76882 non-null  float64
 4   accommodates                                   76882 non-null  int64
 5   bathrooms_text                                 76882 non-null  float64
 6   bedrooms                                       72238 non-null  float64
 7   beds                                           75904 non-null  float64
 8   amenities                                      76882 non-null  object
 9   instant_bookable                               76882 non-null  object
 10  host_has_profile_pic                           76871 non-null  object
 11  host_identity_verified                         76871 non-null  object
 12  number_of_reviews                              76882 non-null  int64
 13  neighbourhood_cleansed_Barking and Dagenham    76882 non-null  uint8
 14  neighbourhood_cleansed_Barnet                  76882 non-null  uint8
 15  neighbourhood_cleansed_Bexley                  76882 non-null  uint8
 16  neighbourhood_cleansed_Brent                   76882 non-null  uint8
 17  neighbourhood_cleansed_Bromley                 76882 non-null  uint8
 18  neighbourhood_cleansed_Camden                  76882 non-null  uint8
 19  neighbourhood_cleansed_City of London          76882 non-null  uint8
 20  neighbourhood_cleansed_Croydon                 76882 non-null  uint8
 21  neighbourhood_cleansed_Ealing                  76882 non-null  uint8
 22  neighbourhood_cleansed_Enfield                 76882 non-null  uint8
 23  neighbourhood_cleansed_Greenwich               76882 non-null  uint8
 24  neighbourhood_cleansed_Hackney                 76882 non-null  uint8
 25  neighbourhood_cleansed_Hammersmith and Fulham  76882 non-null  uint8
 26  neighbourhood_cleansed_Haringey                76882 non-null  uint8
 27  neighbourhood_cleansed_Harrow                  76882 non-null  uint8
 28  neighbourhood_cleansed_Havering                76882 non-null  uint8
 29  neighbourhood_cleansed_Hillingdon              76882 non-null  uint8
 30  neighbourhood_cleansed_Hounslow                76882 non-null  uint8
 31  neighbourhood_cleansed_Islington               76882 non-null  uint8
 32  neighbourhood_cleansed_Kensington and Chelsea  76882 non-null  uint8
 33  neighbourhood_cleansed_Kingston upon Thames    76882 non-null  uint8
 34  neighbourhood_cleansed_Lambeth                 76882 non-null  uint8
 35  neighbourhood_cleansed_Lewisham                76882 non-null  uint8
 36  neighbourhood_cleansed_Merton                  76882 non-null  uint8
 37  neighbourhood_cleansed_Newham                  76882 non-null  uint8
 38  neighbourhood_cleansed_Redbridge               76882 non-null  uint8
 39  neighbourhood_cleansed_Richmond upon Thames    76882 non-null  uint8
 40  neighbourhood_cleansed_Southwark               76882 non-null  uint8
 41  neighbourhood_cleansed_Sutton                  76882 non-null  uint8
 42  neighbourhood_cleansed_Tower Hamlets           76882 non-null  uint8
 43  neighbourhood_cleansed_Waltham Forest          76882 non-null  uint8
 44  neighbourhood_cleansed_Wandsworth              76882 non-null  uint8
 45  neighbourhood_cleansed_Westminster             76882 non-null  uint8
 46  room_type_Entire home/apt                      76882 non-null  uint8
 47  room_type_Hotel room                           76882 non-null  uint8
 48  room_type_Private room                         76882 non-null  uint8
 49  room_type_Shared room                          76882 non-null  uint8
dtypes: float64(6), int64(3), object(4), uint8(37)
memory usage: 10.9+ MB

In [17]:
#group by beds and then find mean bedrooms for each number of beds
bedrooms_no_nulls = df_clean[df_clean['bedrooms'].notnull()]
mean_beds_rounded = bedrooms_no_nulls.groupby(by=['beds']).mean().round(0).reset_index()
mean_beds_rounded[['beds', 'bedrooms']]

    beds  bedrooms
0    0.0       1.0
1    1.0       1.0
2    2.0       2.0
3    3.0       2.0
4    4.0       3.0
5    5.0       4.0
6    6.0       4.0
7    7.0       4.0
8    8.0       4.0
9    9.0       5.0
10  10.0       4.0
11  11.0       5.0
12  12.0       3.0
13  13.0       4.0
14  14.0       5.0
15  15.0       4.0
16  16.0       8.0
17  17.0       8.0
18  18.0       7.0
19  19.0       8.0
20  20.0       9.0
21  21.0       1.0
22  24.0       8.0
23  27.0       8.0
24  28.0      10.0
25  50.0      50.0

In [18]:
#make prediction for null values in 'bedrooms' feature based on mean of bedrooms associated with beds column
fill_dict1 = mean_beds_rounded.set_index('beds')['bedrooms'].to_dict()
df_clean['bedrooms'] = df_clean['bedrooms'].replace(np.nan, df_clean['beds'].map(fill_dict1))
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76882 entries, 11551 to 46261520
Data columns (total 50 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   price                                          76882 non-null  float64
 1   host_is_superhost                              76882 non-null  int64
 2   latitude                                       76882 non-null  float64
 3   longitude                                      76882 non-null  float64
 4   accommodates                                   76882 non-null  int64
 5   bathrooms_text                                 76882 non-null  float64
 6   bedrooms                                       76882 non-null  float64
 7   beds                                           75904 non-null  float64
 8   amenities                                      76882 non-null  object
 9   instant_bookable                               76882 non-null  object
 10  host_has_profile_pic                           76871 non-null  object
 11  host_identity_verified                         76871 non-null  object
 12  number_of_reviews                              76882 non-null  int64
 13  neighbourhood_cleansed_Barking and Dagenham    76882 non-null  uint8
 14  neighbourhood_cleansed_Barnet                  76882 non-null  uint8
 15  neighbourhood_cleansed_Bexley                  76882 non-null  uint8
 16  neighbourhood_cleansed_Brent                   76882 non-null  uint8
 17  neighbourhood_cleansed_Bromley                 76882 non-null  uint8
 18  neighbourhood_cleansed_Camden                  76882 non-null  uint8
 19  neighbourhood_cleansed_City of London          76882 non-null  uint8
 20  neighbourhood_cleansed_Croydon                 76882 non-null  uint8
 21  neighbourhood_cleansed_Ealing                  76882 non-null  uint8
 22  neighbourhood_cleansed_Enfield                 76882 non-null  uint8
 23  neighbourhood_cleansed_Greenwich               76882 non-null  uint8
 24  neighbourhood_cleansed_Hackney                 76882 non-null  uint8
 25  neighbourhood_cleansed_Hammersmith and Fulham  76882 non-null  uint8
 26  neighbourhood_cleansed_Haringey                76882 non-null  uint8
 27  neighbourhood_cleansed_Harrow                  76882 non-null  uint8
 28  neighbourhood_cleansed_Havering                76882 non-null  uint8
 29  neighbourhood_cleansed_Hillingdon              76882 non-null  uint8
 30  neighbourhood_cleansed_Hounslow                76882 non-null  uint8
 31  neighbourhood_cleansed_Islington               76882 non-null  uint8
 32  neighbourhood_cleansed_Kensington and Chelsea  76882 non-null  uint8
 33  neighbourhood_cleansed_Kingston upon Thames    76882 non-null  uint8
 34  neighbourhood_cleansed_Lambeth                 76882 non-null  uint8
 35  neighbourhood_cleansed_Lewisham                76882 non-null  uint8
 36  neighbourhood_cleansed_Merton                  76882 non-null  uint8
 37  neighbourhood_cleansed_Newham                  76882 non-null  uint8
 38  neighbourhood_cleansed_Redbridge               76882 non-null  uint8
 39  neighbourhood_cleansed_Richmond upon Thames    76882 non-null  uint8
 40  neighbourhood_cleansed_Southwark               76882 non-null  uint8
 41  neighbourhood_cleansed_Sutton                  76882 non-null  uint8
 42  neighbourhood_cleansed_Tower Hamlets           76882 non-null  uint8
 43  neighbourhood_cleansed_Waltham Forest          76882 non-null  uint8
 44  neighbourhood_cleansed_Wandsworth              76882 non-null  uint8
 45  neighbourhood_cleansed_Westminster             76882 non-null  uint8
 46  room_type_Entire home/apt                      76882 non-null  uint8
 47  room_type_Hotel room                           76882 non-null  uint8
 48  room_type_Private room                         76882 non-null  uint8
 49  room_type_Shared room                          76882 non-null  uint8
dtypes: float64(6), int64(3), object(4), uint8(37)
memory usage: 13.4+ MB

In [19]:
#group by bedrooms and then find mean beds for each number of bedrooms
beds_no_nulls = df_clean[df_clean['beds'].notnull()]
mean_bedrooms_rounded = beds_no_nulls.groupby(by=['bedrooms']).mean().round(0).reset_index()
mean_bedrooms_rounded[['beds', 'bedrooms']]

    beds  bedrooms
0    1.0       1.0
1    2.0       2.0
2    3.0       3.0
3    5.0       4.0
4    6.0       5.0
5    7.0       6.0
6    9.0       7.0
7   13.0       8.0
8    6.0       9.0
9    9.0      10.0
10  11.0      11.0
11  16.0      12.0
12  16.0      16.0
13   1.0      19.0
14   0.0      22.0
15  50.0      50.0

In [20]:
#make prediction for null values in 'beds' feature based on mean of beds associated with bedrooms column
fill_dict2 = mean_bedrooms_rounded.set_index('bedrooms')['beds'].to_dict()
df_clean['beds'] = df_clean['beds'].replace(np.nan, df_clean['bedrooms'].map(fill_dict2))
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76882 entries, 11551 to 46261520
Data columns (total 50 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   price                                          76882 non-null  float64
 1   host_is_superhost                              76882 non-null  int64
 2   latitude                                       76882 non-null  float64
 3   longitude                                      76882 non-null  float64
 4   accommodates                                   76882 non-null  int64
 5   bathrooms_text                                 76882 non-null  float64
 6   bedrooms                                       76882 non-null  float64
 7   beds                                           76882 non-null  float64
 8   amenities                                      76882 non-null  object
 9   instant_bookable                               76882 non-null  object
 10  host_has_profile_pic                           76871 non-null  object
 11  host_identity_verified                         76871 non-null  object
 12  number_of_reviews                              76882 non-null  int64
 13  neighbourhood_cleansed_Barking and Dagenham    76882 non-null  uint8
 14  neighbourhood_cleansed_Barnet                  76882 non-null  uint8
 15  neighbourhood_cleansed_Bexley                  76882 non-null  uint8
 16  neighbourhood_cleansed_Brent                   76882 non-null  uint8
 17  neighbourhood_cleansed_Bromley                 76882 non-null  uint8
 18  neighbourhood_cleansed_Camden                  76882 non-null  uint8
 19  neighbourhood_cleansed_City of London          76882 non-null  uint8
 20  neighbourhood_cleansed_Croydon                 76882 non-null  uint8
 21  neighbourhood_cleansed_Ealing                  76882 non-null  uint8
 22  neighbourhood_cleansed_Enfield                 76882 non-null  uint8
 23  neighbourhood_cleansed_Greenwich               76882 non-null  uint8
 24  neighbourhood_cleansed_Hackney                 76882 non-null  uint8
 25  neighbourhood_cleansed_Hammersmith and Fulham  76882 non-null  uint8
 26  neighbourhood_cleansed_Haringey                76882 non-null  uint8
 27  neighbourhood_cleansed_Harrow                  76882 non-null  uint8
 28  neighbourhood_cleansed_Havering                76882 non-null  uint8
 29  neighbourhood_cleansed_Hillingdon              76882 non-null  uint8
 30  neighbourhood_cleansed_Hounslow                76882 non-null  uint8
 31  neighbourhood_cleansed_Islington               76882 non-null  uint8
 32  neighbourhood_cleansed_Kensington and Chelsea  76882 non-null  uint8
 33  neighbourhood_cleansed_Kingston upon Thames    76882 non-null  uint8
 34  neighbourhood_cleansed_Lambeth                 76882 non-null  uint8
 35  neighbourhood_cleansed_Lewisham                76882 non-null  uint8
 36  neighbourhood_cleansed_Merton                  76882 non-null  uint8
 37  neighbourhood_cleansed_Newham                  76882 non-null  uint8
 38  neighbourhood_cleansed_Redbridge               76882 non-null  uint8
 39  neighbourhood_cleansed_Richmond upon Thames    76882 non-null  uint8
 40  neighbourhood_cleansed_Southwark               76882 non-null  uint8
 41  neighbourhood_cleansed_Sutton                  76882 non-null  uint8
 42  neighbourhood_cleansed_Tower Hamlets           76882 non-null  uint8
 43  neighbourhood_cleansed_Waltham Forest          76882 non-null  uint8
 44  neighbourhood_cleansed_Wandsworth              76882 non-null  uint8
 45  neighbourhood_cleansed_Westminster             76882 non-null  uint8
 46  room_type_Entire home/apt                      76882 non-null  uint8
 47  room_type_Hotel room                           76882 non-null  uint8
 48  room_type_Private room                         76882 non-null  uint8
 49  room_type_Shared room                          76882 non-null  uint8
dtypes: float64(6), int64(3), object(4), uint8(37)
memory usage: 13.4+ MB

In [21]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76882 entries, 11551 to 46261520
Data columns (total 50 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   price                                          76882 non-null  float64
 1   host_is_superhost                              76882 non-null  int64
 2   latitude                                       76882 non-null  float64
 3   longitude                                      76882 non-null  float64
 4   accommodates                                   76882 non-null  int64
 5   bathrooms_text                                 76882 non-null  float64
 6   bedrooms                                       76882 non-null  float64
 7   beds                                           76882 non-null  float64
 8   amenities                                      76882 non-null  object
 9   instant_bookable                               76882 non-null  object
 10  host_has_profile_pic                           76871 non-null  object
 11  host_identity_verified                         76871 non-null  object
 12  number_of_reviews                              76882 non-null  int64
 13  neighbourhood_cleansed_Barking and Dagenham    76882 non-null  uint8
 14  neighbourhood_cleansed_Barnet                  76882 non-null  uint8
 15  neighbourhood_cleansed_Bexley                  76882 non-null  uint8
 16  neighbourhood_cleansed_Brent                   76882 non-null  uint8
 17  neighbourhood_cleansed_Bromley                 76882 non-null  uint8
 18  neighbourhood_cleansed_Camden                  76882 non-null  uint8
 19  neighbourhood_cleansed_City of London          76882 non-null  uint8
 20  neighbourhood_cleansed_Croydon                 76882 non-null  uint8
 21  neighbourhood_cleansed_Ealing                  76882 non-null  uint8
 22  neighbourhood_cleansed_Enfield                 76882 non-null  uint8
 23  neighbourhood_cleansed_Greenwich               76882 non-null  uint8
 24  neighbourhood_cleansed_Hackney                 76882 non-null  uint8
 25  neighbourhood_cleansed_Hammersmith and Fulham  76882 non-null  uint8
 26  neighbourhood_cleansed_Haringey                76882 non-null  uint8
 27  neighbourhood_cleansed_Harrow                  76882 non-null  uint8
 28  neighbourhood_cleansed_Havering                76882 non-null  uint8
 29  neighbourhood_cleansed_Hillingdon              76882 non-null  uint8
 30  neighbourhood_cleansed_Hounslow                76882 non-null  uint8
 31  neighbourhood_cleansed_Islington               76882 non-null  uint8
 32  neighbourhood_cleansed_Kensington and Chelsea  76882 non-null  uint8
 33  neighbourhood_cleansed_Kingston upon Thames    76882 non-null  uint8
 34  neighbourhood_cleansed_Lambeth                 76882 non-null  uint8
 35  neighbourhood_cleansed_Lewisham                76882 non-null  uint8
 36  neighbourhood_cleansed_Merton                  76882 non-null  uint8
 37  neighbourhood_cleansed_Newham                  76882 non-null  uint8
 38  neighbourhood_cleansed_Redbridge               76882 non-null  uint8
 39  neighbourhood_cleansed_Richmond upon Thames    76882 non-null  uint8
 40  neighbourhood_cleansed_Southwark               76882 non-null  uint8
 41  neighbourhood_cleansed_Sutton                  76882 non-null  uint8
 42  neighbourhood_cleansed_Tower Hamlets           76882 non-null  uint8
 43  neighbourhood_cleansed_Waltham Forest          76882 non-null  uint8
 44  neighbourhood_cleansed_Wandsworth              76882 non-null  uint8
 45  neighbourhood_cleansed_Westminster             76882 non-null  uint8
 46  room_type_Entire home/apt                      76882 non-null  uint8
 47  room_type_Hotel room                           76882 non-null  uint8
 48  room_type_Private room                         76882 non-null  uint8
 49  room_type_Shared room                          76882 non-null  uint8
dtypes: float64(6), int64(3), object(4), uint8(37)
memory usage: 13.4+ MB

In [22]:
df_clean_copy = df_clean.copy()

In [23]:
df_clean_copy[['amenities']]

                                                  amenities
id
11551     ["Cable TV", "Coffee maker", "Carbon monoxide ...
13913     ["Cable TV", "Bed linens", "Coffee maker", "Pa...
15400     ["Cable TV", "Coffee maker", "Dryer", "Dishes ...
17402     ["Bed linens", "Coffee maker", "Dryer", "Paid ...
17506     ["TV", "Heating", "Shower gel", "Wifi", "Smoke...
...                                                     ...
46259322  ["TV", "Fire extinguisher", "Heating", "Dryer"...
46259459  ["Dryer", "Private entrance", "First aid kit",...
46259503  ["Fire extinguisher", "Body soap", "Heating", ...
46259530  ["Fire extinguisher", "Heating", "Wifi", "Kitc...
46261520  ["Heating", "Wifi", "Kitchen", "Washer", "Esse...

[76882 rows x 1 columns]

In [24]:
df_clean_copy['types'] = df_clean_copy['amenities'].apply(lambda x: type(x))

In [25]:
df_clean_copy['types'].unique()

array([<class 'str'>], dtype=object)

In [26]:
df_clean_copy['amenities'] = df_clean_copy['amenities'].apply(lambda x: x.strip("][").split(', ') if "[" in x else [x])

In [27]:
df_clean_copy['amenities']

id
11551       ["Cable TV", "Coffee maker", "Carbon monoxide ...
13913       ["Cable TV", "Bed linens", "Coffee maker", "Pa...
15400       ["Cable TV", "Coffee maker", "Dryer", "Dishes ...
17402       ["Bed linens", "Coffee maker", "Dryer", "Paid ...
17506       ["TV", "Heating", "Shower gel", "Wifi", "Smoke...
                                  ...
46259322    ["TV", "Fire extinguisher", "Heating", "Dryer"...
46259459    ["Dryer", "Private entrance", "First aid kit",...
46259503    ["Fire extinguisher", "Body soap", "Heating", ...
46259530    ["Fire extinguisher", "Heating", "Wifi", "Kitc...
46261520    ["Heating", "Wifi", "Kitchen", "Washer", "Esse...
Name: amenities, Length: 76882, dtype: object

In [28]:
s = df_clean_copy['amenities']

mlb = MultiLabelBinarizer()

amenity_dummies = pd.DataFrame(mlb.fit_transform(s), columns=mlb.classes_, index=df_clean.index)

In [29]:
amenity_dummies['price'] = df_clean_copy['price']

In [30]:
amenity_price_corr = amenity_dummies.corr()

In [31]:
ascending_price = amenity_price_corr.sort_values(by=['price'], ascending=False)

In [32]:
ascending_price.head(19)

,,""" Miele electric stove""","""14\"" TV with Netflix","""17\"" TV""","""20\"" HDTV with standard cable""","""24\"" HDTV with Netflix","""32\"" HDTV with Chromecast","""32\"" HDTV with Netflix""","""32\"" HDTV with standard cable""","""32\"" HDTV""",...,"The Platinum Range body soap""","The Platinum Range conditioner""","The Platinum Range shampoo""","bespoke,hypoallergenic body soap""",premium cable,"premium cable""",standard cable,"standard cable""","works well for body :) body soap""",price
price,0.003520,0.000640,-0.000942,-0.000355,-0.000964,-0.000698,-0.000267,-0.000577,-0.000433,-0.000711,...,-0.000355,-0.000355,-0.000355,-0.000400,-0.000948,0.008919,0.001038,0.000437,-0.000687,1.000000
"""Air conditioning""",-0.020443,-0.000988,-0.000988,-0.000988,-0.000988,-0.000988,-0.000988,-0.000988,-0.000988,-0.001711,...,0.013169,0.013169,0.013169,-0.000988,-0.001711,0.003872,-0.001397,-0.003826,-0.000988,0.087795
"""TV""",-0.110197,-0.005324,-0.005324,-0.005324,-0.005324,-0.005324,-0.005324,-0.005324,-0.005324,-0.009222,...,0.002443,0.002443,0.002443,0.002443,-0.009222,-0.019923,-0.007530,-0.020623,0.002443,0.084993
"""Dishwasher""",-0.042055,0.006401,-0.002032,-0.002032,-0.002032,0.006401,-0.002032,-0.002032,0.006401,0.001350,...,0.006401,0.006401,0.006401,0.006401,0.011088,0.017192,0.009053,0.009551,0.006401,0.078707
"""Ironing board""",-0.001291,-0.000062,-0.000062,-0.000062,-0.000062,-0.000062,-0.000062,-0.000062,-0.000062,-0.000108,...,-0.000062,-0.000062,-0.000062,-0.000062,-0.000108,-0.000233,-0.000088,-0.000242,-0.000062,0.064458
"""Security system""",-0.000712,-0.000034,-0.000034,-0.000034,-0.000034,-0.000034,-0.000034,-0.000034,-0.000034,-0.000060,...,-0.000034,-0.000034,-0.000034,-0.000034,-0.000060,-0.000129,-0.000049,-0.000133,-0.000034,0.061466
"""Dryer""",-0.066496,-0.003213,-0.003213,-0.003213,-0.003213,-0.003213,-0.003213,0.004048,0.004048,0.002820,...,0.004048,0.004048,0.004048,0.004048,-0.005565,-0.000377,0.000591,-0.004944,0.004048,0.060623
"""Chef's kitchen""",-0.001319,-0.000064,-0.000064,-0.000064,-0.000064,-0.000064,-0.000064,-0.000064,-0.000064,-0.000110,...,-0.000064,-0.000064,-0.000064,-0.000064,-0.000110,-0.000238,-0.000090,-0.000247,-0.000064,0.058543
"""Coffee maker""",-0.039656,0.006789,-0.001916,0.006789,-0.001916,-0.001916,0.006789,-0.001916,-0.001916,0.006733,...,-0.001916,-0.001916,-0.001916,0.006789,0.001707,0.006790,-0.002710,0.006065,0.006789,0.051785
"""Balcony""",-0.000659,-0.000032,-0.000032,-0.000032,-0.000032,-0.000032,-0.000032,-0.000032,-0.000032,-0.000055,...,-0.000032,-0.000032,-0.000032,-0.000032,-0.000055,-0.000119,-0.000045,-0.000123,-0.000032,0.051044
"""Terrace""",-0.001043,-0.000050,-0.000050,-0.000050,-0.000050,-0.000050,-0.000050,-0.000050,-0.000050,-0.000087,...,-0.000050,-0.000050,-0.000050,-0.000050,-0.000087,-0.000189,-0.000071,-0.000195,-0.000050,0.047420
"""Espresso machine""",-0.001043,-0.000050,-0.000050,-0.000050,-0.000050,-0.000050,-0.000050,-0.000050,-0.000050,-0.000087,...,-0.000050,-0.000050,-0.000050,-0.000050,-0.000087,-0.000189,-0.000071,-0.000195,-0.000050,0.045801
"""Crib""",-0.015344,-0.000741,-0.000741,-0.000741,-0.000741,-0.000741,-0.000741,-0.000741,-0.000741,-0.001284,...,-0.000741,-0.000741,-0.000741,-0.000741,-0.001284,0.002113,0.011882,-0.002872,0.017545,0.043907
"""Dining area for 8 people""",-0.000538,-0.000026,-0.000026,-0.000026,-0.000026,-0.000026,-0.000026,-0.000026,-0.000026,-0.000045,...,-0.000026,-0.000026,-0.000026,-0.000026,-0.000045,-0.000097,-0.000037,-0.000101,-0.000026,0.042864
"""Indoor fireplace""",-0.022038,0.012216,-0.001065,-0.001065,-0.001065,-0.001065,-0.001065,-0.001065,-0.001065,-0.001844,...,-0.001065,-0.001065,-0.001065,-0.001065,0.005823,-0.000435,-0.001506,-0.000695,-0.001065,0.041623
"""Private entrance""",-0.042157,0.006386,-0.002037,0.006386,-0.002037,-0.002037,-0.002037,0.006386,0.006386,0.006198,...,0.006386,0.006386,0.006386,0.006386,-0.003528,0.001383,0.003075,0.002985,0.006386,0.041404
"""Oven""",-0.057524,-0.002779,0.004680,0.004680,-0.002779,0.004680,0.004680,0.004680,-0.002779,0.003799,...,0.004680,0.004680,0.004680,0.004680,0.003799,0.009537,0.001344,0.012349,0.004680,0.038454
"""High chair""",-0.016896,-0.000816,-0.000816,-0.000816,-0.000816,-0.000816,-0.000816,-0.000816,-0.000816,-0.001414,...,-0.000816,-0.000816,-0.000816,-0.000816,-0.001414,0.005899,0.010690,-0.003162,0.015934,0.037609
"""Shampoo""",-0.101781,0.002645,0.002645,-0.004918,0.002645,0.002645,0.002645,0.002645,-0.004918,0.004581,...,-0.004918,-0.004918,-0.004918,0.002645,0.004581,0.005855,0.003741,0.006339,0.002645,0.037304

In [33]:
df_corr = df_clean.corr()

In [34]:
df_corr.sort_values(by=['price'], ascending=False)

,price,host_is_superhost,latitude,longitude,accommodates,bathrooms_text,bedrooms,beds,number_of_reviews,neighbourhood_cleansed_Barking and Dagenham,...,neighbourhood_cleansed_Southwark,neighbourhood_cleansed_Sutton,neighbourhood_cleansed_Tower Hamlets,neighbourhood_cleansed_Waltham Forest,neighbourhood_cleansed_Wandsworth,neighbourhood_cleansed_Westminster,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
price,1.000000,-0.016382,-0.006274,-0.030609,0.190364,0.143808,0.172718,0.155744,-0.027452,-0.010188,...,-0.007202,-0.004082,-0.022699,-0.017669,-0.003395,0.078047,0.145222,0.004127,-0.143944,-0.013877
accommodates,0.190364,-0.013006,-0.009601,-0.046104,1.000000,0.486262,0.787554,0.797590,-0.028792,-0.017893,...,-0.005902,-0.017359,-0.034746,-0.010294,0.022220,0.077723,0.541584,-0.006733,-0.536947,-0.029808
bedrooms,0.172718,-0.026788,-0.023869,-0.055924,0.787554,0.598054,1.000000,0.771694,-0.063025,-0.012749,...,-0.013433,-0.007357,-0.048150,0.002453,0.047003,0.026228,0.415666,-0.015851,-0.405520,-0.049127
beds,0.155744,-0.011386,-0.009595,-0.042877,0.797590,0.495897,0.771694,1.000000,-0.029980,-0.007055,...,-0.011715,-0.005753,-0.038474,0.000750,0.022576,0.039373,0.384789,0.005216,-0.391048,0.022159
room_type_Entire home/apt,0.145222,-0.032898,-0.006950,-0.065785,0.541584,0.164959,0.415666,0.384789,-0.076649,-0.036177,...,-0.005607,-0.027818,-0.047913,-0.028275,0.003943,0.129802,1.000000,-0.095297,-0.969083,-0.099415
bathrooms_text,0.143808,-0.016087,-0.015394,-0.048171,0.486262,1.000000,0.598054,0.495897,-0.038343,-0.007970,...,-0.021878,-0.008643,-0.027442,-0.010379,0.031006,0.044986,0.164959,0.012613,-0.167063,-0.003661
neighbourhood_cleansed_Westminster,0.078047,-0.006744,0.026772,-0.125124,0.077723,0.044986,0.026228,0.039373,0.012292,-0.025696,...,-0.086467,-0.022230,-0.110460,-0.047716,-0.082282,1.000000,0.129802,0.008388,-0.130698,-0.005613
neighbourhood_cleansed_Kensington and Chelsea,0.050934,0.010121,-0.063557,-0.174900,0.056471,0.037561,0.033191,0.037336,0.001152,-0.019788,...,-0.066588,-0.017119,-0.085064,-0.036745,-0.063364,-0.096497,0.122500,0.074331,-0.136839,0.005752
neighbourhood_cleansed_City of London,0.043457,-0.000796,0.007949,0.028373,0.005485,-0.010908,-0.014674,-0.007575,0.001104,-0.005539,...,-0.018638,-0.004792,-0.023809,-0.010285,-0.017736,-0.027009,0.049964,0.001388,-0.049830,-0.003054
neighbourhood_cleansed_Islington,0.011292,-0.005560,0.181385,0.053401,-0.008088,-0.027123,-0.018728,-0.018352,0.012955,-0.018066,...,-0.060790,-0.015628,-0.077659,-0.033546,-0.057848,-0.088096,0.032182,-0.002781,-0.029998,-0.010056
neighbourhood_cleansed_Camden,0.009633,0.006981,0.156366,-0.056057,0.028617,0.006859,0.005866,0.017387,0.029471,-0.019662,...,-0.066163,-0.017010,-0.084522,-0.036511,-0.062960,-0.095881,0.056638,0.017392,-0.059594,-0.001409
room_type_Hotel room,0.004127,-0.018461,0.014546,-0.024177,-0.006733,0.012613,-0.015851,0.005216,-0.008245,-0.006279,...,-0.013900,-0.005432,-0.010477,-0.005939,-0.015298,0.008388,-0.095297,1.000000,-0.076090,-0.007806
neighbourhood_cleansed_Hammersmith and Fulham,0.003132,0.001108,-0.091765,-0.201735,0.022137,0.011271,0.024605,0.013479,0.014545,-0.016021,...,-0.053911,-0.013860,-0.068870,-0.029750,-0.051301,-0.078126,0.034417,0.003224,-0.034119,-0.005416
neighbourhood_cleansed_Richmond upon Thames,0.003071,0.024837,-0.145382,-0.230423,0.016531,0.013879,0.037483,0.024051,0.011219,-0.008886,...,-0.029901,-0.007687,-0.038198,-0.016500,-0.028453,-0.043331,0.000155,-0.004308,0.001932,-0.007431
neighbourhood_cleansed_Merton,-0.002273,0.000505,-0.254774,-0.091494,-0.005199,0.012519,0.016989,0.004892,-0.018848,-0.009325,...,-0.031377,-0.008067,-0.040084,-0.017315,-0.029858,-0.045471,-0.026109,-0.011112,0.027727,0.002207
neighbourhood_cleansed_Wandsworth,-0.003395,-0.000071,-0.265179,-0.121623,0.022220,0.031006,0.047003,0.022576,-0.012887,-0.016873,...,-0.056778,-0.014597,-0.072533,-0.031332,1.000000,-0.082282,0.003943,-0.015298,0.000931,-0.012409
neighbourhood_cleansed_Sutton,-0.004082,0.001260,-0.189549,-0.035987,-0.017359,-0.008643,-0.007357,-0.005753,-0.002642,-0.004559,...,-0.015340,1.000000,-0.019596,-0.008465,-0.014597,-0.022230,-0.027818,-0.005432,0.029041,-0.001021
latitude,-0.006274,-0.018457,1.000000,0.112362,-0.009601,-0.015394,-0.023869,-0.009595,-0.005242,0.051131,...,-0.122766,-0.189549,0.054783,0.192122,-0.265179,0.026772,-0.006950,0.014546,0.004699,-0.001345
neighbourhood_cleansed_Kingston upon Thames,-0.007157,0.023799,-0.184829,-0.136624,-0.006647,-0.000578,0.005998,0.006199,-0.002049,-0.005950,...,-0.020020,-0.005147,-0.025575,-0.011048,-0.019051,-0.029013,-0.020630,-0.007090,0.022621,-0.003826
neighbourhood_cleansed_Southwark,-0.007202,-0.001566,-0.122766,0.126729,-0.005902,-0.021878,-0.013433,-0.011715,0.016878,-0.017732,...,1.000000,-0.015340,-0.076223,-0.032926,-0.056778,-0.086467,-0.005607,-0.013900,0.008257,-0.001240
neighbourhood_cleansed_Havering,-0.007759,0.002741,0.079209,0.196739,-0.004868,-0.000566,-0.000145,0.008775,-0.010764,-0.004171,...,-0.014036,-0.003608,-0.017930,-0.007745,-0.013356,-0.020340,-0.020861,-0.004970,0.021815,-0.000111
neighbourhood_cleansed_Hounslow,-0.007880,0.003786,-0.080483,-0.244514,-0.013318,0.002848,-0.003722,-0.006306,0.002306,-0.008476,...,-0.028520,-0.007332,-0.036434,-0.015738,-0.027140,-0.041331,-0.027207,-0.004839,0.027766,0.002079
neighbourhood_cleansed_Harrow,-0.009089,0.000309,0.128092,-0.167551,-0.025929,-0.005195,-0.002680,-0.007868,-0.005557,-0.005570,...,-0.018743,-0.004819,-0.023944,-0.010343,-0.017836,-0.027162,-0.036223,-0.006637,0.035999,0.008316
neighbourhood_cleansed_Brent,-0.009680,0.006022,0.137442,-0.200636,-0.006854,0.014753,0.002191,0.002092,-0.003417,-0.012844,...,-0.043221,-0.011112,-0.055215,-0.023851,-0.041129,-0.062635,-0.025997,-0.000295,0.025659,0.002666
neighbourhood_cleansed_Bexley,-0.009683,0.002077,-0.047197,0.167466,-0.017102,-0.003794,-0.006047,-0.007550,-0.014288,-0.004333,...,-0.014582,-0.003749,-0.018628,-0.008047,-0.013876,-0.021131,-0.030615,-0.000070,0.030385,0.001942
neighbourhood_cleansed_Barking and Dagenham,-0.010188,-0.008453,0.051131,0.188178,-0.017893,-0.007970,-0.012749,-0.007055,-0.017604,1.000000,...,-0.017732,-0.004559,-0.022652,-0.009785,-0.016873,-0.025696,-0.036177,-0.006279,0.037121,0.001499
neighbourhood_cleansed_Bromley,-0.011044,-0.000042,-0.196606,0.117801,-0.015465,-0.011968,-0.003224,-0.002112,-0.009504,-0.006323,...,-0.021278,-0.005470,-0.027182,-0.011742,-0.020248,-0.030836,-0.025529,-0.005783,0.026219,0.002224
neighbourhood_cleansed_Redbridge,-0.011084,0.004881,0.137900,0.195158,-0.016053,-0.003001,-0.012693,-0.004968,-0.015469,-0.006918,...,-0.023279,-0.005985,-0.029739,-0.012846,-0.022152,-0.033736,-0.047709,-0.006640,0.047525,0.008325
neighbourhood_cleansed_Ealing,-0.012090,0.010826,0.012431,-0.267678,-0.021738,0.002389,-0.004032,-0.000230,0.003462,-0.010810,...,-0.036376,-0.009352,-0.046470,-0.020074,-0.034615,-0.052715,-0.049067,-0.006643,0.050656,-0.001469
neighbourhood_cleansed_Barnet,-0.012542,-0.001038,0.272038,-0.121045,-0.007716,0.007582,0.010115,0.008999,-0.021982,-0.010714,...,-0.036051,-0.009268,-0.046055,-0.019894,-0.034306,-0.052245,-0.038833,0.020795,0.034868,0.002778
neighbourhood_cleansed_Enfield,-0.012605,0.000534,0.249521,0.042748,-0.013887,-0.005401,-0.004807,0.005044,-0.013521,-0.006888,...,-0.023177,-0.005959,-0.029609,-0.012790,-0.022055,-0.033588,-0.042832,0.027233,0.038698,-0.002381
neighbourhood_cleansed_Greenwich,-0.013142,0.004879,-0.086005,0.259871,0.001333,-0.001244,-0.000209,0.005961,-0.006587,-0.010532,...,-0.035440,-0.009111,-0.045274,-0.019557,-0.033724,-0.051358,-0.028695,-0.000823,0.029086,-0.000821
neighbourhood_cleansed_Haringey,-0.013547,-0.008427,0.272643,0.044176,-0.009107,-0.006915,0.003123,0.000969,-0.005508,-0.012212,...,-0.041093,-0.010565,-0.052496,-0.022677,-0.039104,-0.059551,-0.038203,-0.011774,0.039429,0.005248
room_type_Shared room,-0.013877,-0.021115,-0.001345,0.010787,-0.029808,-0.003661,-0.049127,0.022159,-0.007074,0.001499,...,-0.001240,-0.001021,0.004035,0.005398,-0.012409,-0.005613,-0.099415,-0.007806,-0.079378,1.000000
neighbourhood_cleansed_Newham,-0.014529,-0.004955,0.066535,0.245738,-0.019892,-0.002314,-0.017971,-0.016957,-0.003237,-0.011395,...,-0.038345,-0.009858,-0.048985,-0.021160,-0.036489,-0.055568,-0.057789,-0.006657,0.057422,0.009547
neighbourhood_cleansed_Hillingdon,-0.014744,0.002844,0.032445,-0.299425,-0.016258,-0.002436,-0.012210,-0.009718,0.010569,-0.006582,...,-0.022150,-0.005694,-0.028296,-0.012223,-0.021077,-0.032099,-0.040325,0.000578,0.040677,-0.001720
host_is_superhost,-0.016382,1.000000,-0.018457,-0.027234,-0.013006,-0.016087,-0.026788,-0.011386,0.294680,-0.008453,...,-0.001566,0.001260,-0.021145,-0.005376,-0.000071,-0.006744,-0.032898,-0.018461,0.040022,-0.021115
neighbourhood_cleansed_Lambeth,-0.016753,0.020887,-0.241137,0.022646,-0.012518,-0.009578,-0.006424,-0.010553,0.027206,-0.017892,...,-0.060205,-0.015478,-0.076911,-0.033223,-0.057291,-0.087248,-0.017100,-0.014800,0.018319,0.007777
neighbourhood_cleansed_Waltham Forest,-0.017669,-0.005376,0.192122,0.164600,-0.010294,-0.010379,0.002453,0.000750,-0.010424,-0.009785,...,-0.032926,-0.008465,-0.042063,1.000000,-0.031332,-0.047716,-0.028275,-0.005939,0.028429,0.005398
neighbourhood_cleansed_Lewisham,-0.017801,-0.002812,-0.185923,0.182008,-0.026985,-0.015294,-0.013096,-0.012127,-0.015714,-0.012380,...,-0.041659,-0.010710,-0.053219,-0.022989,-0.039642,-0.060371,-0.042957,-0.014753,0.043060,0.014422
neighbourhood_cleansed_Croydon,-0.020180,-0.002811,-0.322689,0.040764,-0.034930,-0.015480,-0.027404,-0.025959,-0.016187,-0.008782,...,-0.029551,-0.007597,-0.037751,-0.016307,-0.028121,-0.042825,-0.046039,-0.007924,0.047343,0.001270
neighbourhood_cleansed_Hackney,-0.022451,-0.019114,0.215691,0.178592,-0.030935,-0.032962,-0.021062,-0.034128,-0.017661,-0.020567,...,-0.069207,-0.017792,-0.088411,-0.038191,-0.065857,-0.100293,-0.005407,-0.017577,0.010084,-0.008946
neighbourhood_cleansed_Tower Hamlets,-0.022699,-0.021145,0.054783,0.269439,-0.034746,-0.027442,-0.048150,-0.038474,-0.007560,-0.022652,...,-0.076223,-0.019596,1.000000,-0.042063,-0.072533,-0.110460,-0.047913,-0.010477,0.049167,0.004035
number_of_reviews,-0.027452,0.294680,-0.005242,-0.029542,-0.028792,-0.038343,-0.063025,-0.029980,1.000000,-0.017604,...,0.016878,-0.002642,-0.007560,-0.010424,-0.012887,0.012292,-0.076649,-0.008245,0.079623,-0.007074
longitude,-0.030609,-0.027234,0.112362,1.000000,-0.046104,-0.048171,-0.055924,-0.042877,-0.029542,0.188178,...,0.126729,-0.035987,0.269439,0.164600,-0.121623,-0.125124,-0.065785,-0.024177,0.068256,0.010787
room_type_Private room,-0.143944,0.040022,0.004699,0.068256,-0.536947,-0.167063,-0.405520,-0.391048,0.079623,0.037121,...,0.008257,0.029041,0.049167,0.028429,0.000931,-0.130698,-0.969083,-0.076090,1.000000,-0.079378

In [35]:
#change instant_bookable from categorical data to numerical 
df_clean['instant_bookable'] = (df_clean['instant_bookable'] == 't').astype(int)
df_clean.head()

,price,host_is_superhost,latitude,longitude,accommodates,bathrooms_text,bedrooms,beds,amenities,instant_bookable,...,neighbourhood_cleansed_Southwark,neighbourhood_cleansed_Sutton,neighbourhood_cleansed_Tower Hamlets,neighbourhood_cleansed_Waltham Forest,neighbourhood_cleansed_Wandsworth,neighbourhood_cleansed_Westminster,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
id,,,,,,,,,,,,,,,,,,,,,
11551,97.0,0,51.46225,-0.11732,4,1.0,1.0,3.0,"[""Cable TV"", ""Coffee maker"", ""Carbon monoxide ...",1,...,0,0,0,0,0,0,1,0,0,0
13913,40.0,0,51.56802,-0.11121,2,1.0,1.0,0.0,"[""Cable TV"", ""Bed linens"", ""Coffee maker"", ""Pa...",0,...,0,0,0,0,0,0,0,0,1,0
15400,75.0,0,51.48796,-0.16898,2,1.0,1.0,1.0,"[""Cable TV"", ""Coffee maker"", ""Dryer"", ""Dishes ...",1,...,0,0,0,0,0,0,1,0,0,0
17402,307.0,1,51.52195,-0.14094,6,2.0,3.0,3.0,"[""Bed linens"", ""Coffee maker"", ""Dryer"", ""Paid ...",0,...,0,0,0,0,0,1,1,0,0,0
17506,150.0,0,51.47935,-0.19743,2,1.0,1.0,1.0,"[""TV"", ""Heating"", ""Shower gel"", ""Wifi"", ""Smoke...",0,...,0,0,0,0,0,0,0,0,1,0

In [36]:
#change host_has_profile_pic from categorical data to numerical and fill missing values with 0 (no profile pic)
df_clean['host_has_profile_pic'] = (df_clean['host_has_profile_pic'] == 't').astype(int)
df_clean['host_has_profile_pic'] = df_clean['host_has_profile_pic'].fillna(0)
df_clean[['host_has_profile_pic']]

          host_has_profile_pic
id
11551                        1
13913                        1
15400                        1
17402                        1
17506                        1
...                        ...
46259322                     1
46259459                     1
46259503                     1
46259530                     1
46261520                     1

[76882 rows x 1 columns]

In [37]:
#change host_identity_verified from categorical data to numerical and fill missing values with 0 (not verified)
df_clean['host_identity_verified'] = (df_clean['host_identity_verified'] == 't').astype(int)
df_clean['host_identity_verified'] = df_clean['host_identity_verified'].fillna(0)
df_clean[['host_identity_verified']]

          host_identity_verified
id
11551                          1
13913                          1
15400                          1
17402                          1
17506                          1
...                          ...
46259322                       1
46259459                       0
46259503                       1
46259530                       1
46261520                       1

[76882 rows x 1 columns]

In [38]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76882 entries, 11551 to 46261520
Data columns (total 50 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   price                                          76882 non-null  float64
 1   host_is_superhost                              76882 non-null  int64
 2   latitude                                       76882 non-null  float64
 3   longitude                                      76882 non-null  float64
 4   accommodates                                   76882 non-null  int64
 5   bathrooms_text                                 76882 non-null  float64
 6   bedrooms                                       76882 non-null  float64
 7   beds                                           76882 non-null  float64
 8   amenities                                      76882 non-null  object
 9   instant_bookable                               76882 non-null  int64
 10  host_has_profile_pic                           76882 non-null  int64
 11  host_identity_verified                         76882 non-null  int64
 12  number_of_reviews                              76882 non-null  int64
 13  neighbourhood_cleansed_Barking and Dagenham    76882 non-null  uint8
 14  neighbourhood_cleansed_Barnet                  76882 non-null  uint8
 15  neighbourhood_cleansed_Bexley                  76882 non-null  uint8
 16  neighbourhood_cleansed_Brent                   76882 non-null  uint8
 17  neighbourhood_cleansed_Bromley                 76882 non-null  uint8
 18  neighbourhood_cleansed_Camden                  76882 non-null  uint8
 19  neighbourhood_cleansed_City of London          76882 non-null  uint8
 20  neighbourhood_cleansed_Croydon                 76882 non-null  uint8
 21  neighbourhood_cleansed_Ealing                  76882 non-null  uint8
 22  neighbourhood_cleansed_Enfield                 76882 non-null  uint8
 23  neighbourhood_cleansed_Greenwich               76882 non-null  uint8
 24  neighbourhood_cleansed_Hackney                 76882 non-null  uint8
 25  neighbourhood_cleansed_Hammersmith and Fulham  76882 non-null  uint8
 26  neighbourhood_cleansed_Haringey                76882 non-null  uint8
 27  neighbourhood_cleansed_Harrow                  76882 non-null  uint8
 28  neighbourhood_cleansed_Havering                76882 non-null  uint8
 29  neighbourhood_cleansed_Hillingdon              76882 non-null  uint8
 30  neighbourhood_cleansed_Hounslow                76882 non-null  uint8
 31  neighbourhood_cleansed_Islington               76882 non-null  uint8
 32  neighbourhood_cleansed_Kensington and Chelsea  76882 non-null  uint8
 33  neighbourhood_cleansed_Kingston upon Thames    76882 non-null  uint8
 34  neighbourhood_cleansed_Lambeth                 76882 non-null  uint8
 35  neighbourhood_cleansed_Lewisham                76882 non-null  uint8
 36  neighbourhood_cleansed_Merton                  76882 non-null  uint8
 37  neighbourhood_cleansed_Newham                  76882 non-null  uint8
 38  neighbourhood_cleansed_Redbridge               76882 non-null  uint8
 39  neighbourhood_cleansed_Richmond upon Thames    76882 non-null  uint8
 40  neighbourhood_cleansed_Southwark               76882 non-null  uint8
 41  neighbourhood_cleansed_Sutton                  76882 non-null  uint8
 42  neighbourhood_cleansed_Tower Hamlets           76882 non-null  uint8
 43  neighbourhood_cleansed_Waltham Forest          76882 non-null  uint8
 44  neighbourhood_cleansed_Wandsworth              76882 non-null  uint8
 45  neighbourhood_cleansed_Westminster             76882 non-null  uint8
 46  room_type_Entire home/apt                      76882 non-null  uint8
 47  room_type_Hotel room                           76882 non-null  uint8
 48  room_type_Private room                         76882 non-null  uint8
 49  room_type_Shared room                          76882 non-null  uint8
dtypes: float64(6), int64(6), object(1), uint8(37)
memory usage: 13.4+ MB

In [39]:
amenities = amenity_dummies[['"Air conditioning"', '"TV"', '"Dishwasher"', '"Ironing board"', '"Security system"', '"Dryer"', '"Chef\'s kitchen"', '"Coffee maker"', '"Balcony"', '"Terrace"', '"Espresso machine"', '"Crib"', '"Dining area for 8 people"', '"Indoor fireplace"', '"Private entrance"', '"Oven"', '"High chair"', '"Shampoo"' ]]

In [40]:
amenities.head()

,"""Air conditioning""","""TV""","""Dishwasher""","""Ironing board""","""Security system""","""Dryer""","""Chef's kitchen""","""Coffee maker""","""Balcony""","""Terrace""","""Espresso machine""","""Crib""","""Dining area for 8 people""","""Indoor fireplace""","""Private entrance""","""Oven""","""High chair""","""Shampoo"""
id,,,,,,,,,,,,,,,,,,
11551,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,1,0
13913,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,1
15400,1,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1
17402,0,1,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1
17506,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [41]:
drop_amenities = df_clean.drop(['amenities'], axis=1)
drop_amenities

,price,host_is_superhost,latitude,longitude,accommodates,bathrooms_text,bedrooms,beds,instant_bookable,host_has_profile_pic,...,neighbourhood_cleansed_Southwark,neighbourhood_cleansed_Sutton,neighbourhood_cleansed_Tower Hamlets,neighbourhood_cleansed_Waltham Forest,neighbourhood_cleansed_Wandsworth,neighbourhood_cleansed_Westminster,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
id,,,,,,,,,,,,,,,,,,,,,
11551,97.0,0,51.46225,-0.11732,4,1.0,1.0,3.0,1,1,...,0,0,0,0,0,0,1,0,0,0
13913,40.0,0,51.56802,-0.11121,2,1.0,1.0,0.0,0,1,...,0,0,0,0,0,0,0,0,1,0
15400,75.0,0,51.48796,-0.16898,2,1.0,1.0,1.0,1,1,...,0,0,0,0,0,0,1,0,0,0
17402,307.0,1,51.52195,-0.14094,6,2.0,3.0,3.0,0,1,...,0,0,0,0,0,1,1,0,0,0
17506,150.0,0,51.47935,-0.19743,2,1.0,1.0,1.0,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46259322,90.0,1,51.51343,-0.13286,2,1.0,1.0,1.0,0,1,...,0,0,0,0,0,1,1,0,0,0
46259459,87.0,0,51.50755,-0.15069,2,2.0,1.0,2.0,1,1,...,0,0,0,0,0,1,0,0,1,0
46259503,26.0,0,51.54920,0.07109,2,1.5,1.0,1.0,1,1,...,0,0,0,0,0,0,0,0,1,0
46259530,59.0,0,51.49081,-0.20835,2,1.0,1.0,1.0,0,1,...,0,0,0,0,0,0,0,0,1,0
46261520,44.0,0,51.58022,-0.13328,1,2.0,1.0,1.0,1,1,...,0,0,0,0,0,0,0,0,1,0

In [42]:
result = pd.concat([drop_amenities, amenities], axis=1)

In [43]:
result.head()

,price,host_is_superhost,latitude,longitude,accommodates,bathrooms_text,bedrooms,beds,instant_bookable,host_has_profile_pic,...,"""Balcony""","""Terrace""","""Espresso machine""","""Crib""","""Dining area for 8 people""","""Indoor fireplace""","""Private entrance""","""Oven""","""High chair""","""Shampoo"""
id,,,,,,,,,,,,,,,,,,,,,
11551,97.0,0,51.46225,-0.11732,4,1.0,1.0,3.0,1,1,...,0,0,0,1,0,0,0,1,1,0
13913,40.0,0,51.56802,-0.11121,2,1.0,1.0,0.0,0,1,...,0,0,0,1,0,0,0,1,0,1
15400,75.0,0,51.48796,-0.16898,2,1.0,1.0,1.0,1,1,...,0,0,0,0,0,0,0,0,0,1
17402,307.0,1,51.52195,-0.14094,6,2.0,3.0,3.0,0,1,...,0,0,0,0,0,0,0,1,0,1
17506,150.0,0,51.47935,-0.19743,2,1.0,1.0,1.0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [44]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76882 entries, 11551 to 46261520
Data columns (total 67 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   price                                          76882 non-null  float64
 1   host_is_superhost                              76882 non-null  int64
 2   latitude                                       76882 non-null  float64
 3   longitude                                      76882 non-null  float64
 4   accommodates                                   76882 non-null  int64
 5   bathrooms_text                                 76882 non-null  float64
 6   bedrooms                                       76882 non-null  float64
 7   beds                                           76882 non-null  float64
 8   instant_bookable                               76882 non-null  int64
 9   host_has_profile_pic                           76882 non-null  int64
 10  host_identity_verified                         76882 non-null  int64
 11  number_of_reviews                              76882 non-null  int64
 12  neighbourhood_cleansed_Barking and Dagenham    76882 non-null  uint8
 13  neighbourhood_cleansed_Barnet                  76882 non-null  uint8
 14  neighbourhood_cleansed_Bexley                  76882 non-null  uint8
 15  neighbourhood_cleansed_Brent                   76882 non-null  uint8
 16  neighbourhood_cleansed_Bromley                 76882 non-null  uint8
 17  neighbourhood_cleansed_Camden                  76882 non-null  uint8
 18  neighbourhood_cleansed_City of London          76882 non-null  uint8
 19  neighbourhood_cleansed_Croydon                 76882 non-null  uint8
 20  neighbourhood_cleansed_Ealing                  76882 non-null  uint8
 21  neighbourhood_cleansed_Enfield                 76882 non-null  uint8
 22  neighbourhood_cleansed_Greenwich               76882 non-null  uint8
 23  neighbourhood_cleansed_Hackney                 76882 non-null  uint8
 24  neighbourhood_cleansed_Hammersmith and Fulham  76882 non-null  uint8
 25  neighbourhood_cleansed_Haringey                76882 non-null  uint8
 26  neighbourhood_cleansed_Harrow                  76882 non-null  uint8
 27  neighbourhood_cleansed_Havering                76882 non-null  uint8
 28  neighbourhood_cleansed_Hillingdon              76882 non-null  uint8
 29  neighbourhood_cleansed_Hounslow                76882 non-null  uint8
 30  neighbourhood_cleansed_Islington               76882 non-null  uint8
 31  neighbourhood_cleansed_Kensington and Chelsea  76882 non-null  uint8
 32  neighbourhood_cleansed_Kingston upon Thames    76882 non-null  uint8
 33  neighbourhood_cleansed_Lambeth                 76882 non-null  uint8
 34  neighbourhood_cleansed_Lewisham                76882 non-null  uint8
 35  neighbourhood_cleansed_Merton                  76882 non-null  uint8
 36  neighbourhood_cleansed_Newham                  76882 non-null  uint8
 37  neighbourhood_cleansed_Redbridge               76882 non-null  uint8
 38  neighbourhood_cleansed_Richmond upon Thames    76882 non-null  uint8
 39  neighbourhood_cleansed_Southwark               76882 non-null  uint8
 40  neighbourhood_cleansed_Sutton                  76882 non-null  uint8
 41  neighbourhood_cleansed_Tower Hamlets           76882 non-null  uint8
 42  neighbourhood_cleansed_Waltham Forest          76882 non-null  uint8
 43  neighbourhood_cleansed_Wandsworth              76882 non-null  uint8
 44  neighbourhood_cleansed_Westminster             76882 non-null  uint8
 45  room_type_Entire home/apt                      76882 non-null  uint8
 46  room_type_Hotel room                           76882 non-null  uint8
 47  room_type_Private room                         76882 non-null  uint8
 48  room_type_Shared room                          76882 non-null  uint8
 49  "Air conditioning"                             76882 non-null  int64
 50  "TV"                                           76882 non-null  int64
 51  "Dishwasher"                                   76882 non-null  int64
 52  "Ironing board"                                76882 non-null  int64
 53  "Security system"                              76882 non-null  int64
 54  "Dryer"                                        76882 non-null  int64
 55  "Chef's kitchen"                               76882 non-null  int64
 56  "Coffee maker"                                 76882 non-null  int64
 57  "Balcony"                                      76882 non-null  int64
 58  "Terrace"                                      76882 non-null  int64
 59  "Espresso machine"                             76882 non-null  int64
 60  "Crib"                                         76882 non-null  int64
 61  "Dining area for 8 people"                     76882 non-null  int64
 62  "Indoor fireplace"                             76882 non-null  int64
 63  "Private entrance"                             76882 non-null  int64
 64  "Oven"                                         76882 non-null  int64
 65  "High chair"                                   76882 non-null  int64
 66  "Shampoo"                                      76882 non-null  int64
dtypes: float64(6), int64(24), uint8(37)
memory usage: 23.4 MB